{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						{% for i in messages %}
<p style="color:red">{{i}}</p>
{% endfor %}


							<!-- Account Content -->
							     <div style="text-align: center;" >
									<div class="col-md-12 col-lg-12 login-right" style="text-align: center; ">
										<div class="login-header">
											<h1 style="color: rgb(0, 76, 255);">About Care 4 U</h1>
										</div>
                                       <h4>About 7% of google searches are health-related. This number is staggering when you consider that there are approximately 8.5 billion google searches each day. Of course, not all searches will lead to a doctor’s office visit.</h4>
                                       <br>
                                       <h4>So, here we presenting you our website Care4u. Care4u is health focused program, which is mainly dedicated to advancing access to healthcare and delivering high quality medical care for individuals. This web site offers you simplest way to consult from best doctors for your problems on your fingertips.  </h4>
                                       <br>
                                       <h1 style="color: rgb(0, 76, 255);">	Principal

                                       </h1>
                                       <br>
                                       <h4>
                                        In this modern world, Care4u is mainly focused to offers you transparent, authentic and accessible information about doctors as per your needs
                                       </h4>
                                       <br>
                                       <h1 style="color: rgb(0, 76, 255);">
                                    Need of Care4u

                                       </h1>
                                       <br>
                                       <h4>
                                        In the country like India, where medical facilities are basic necessity. There is crucial need to improve the medical 
                                       </h4>
                                       <br>
                                       <h4>
                                        Facilities in the rural areas. As we all know India is getting digitalize day by day. Almost everyone has the access to internet. Now a days if we want to consult to doctors, we don’t have to physically present. With Care4u peoples can 
                                       </h4>
                                       <br>
                                       <h4>
                                        consult the doctors remotely or virtually.
                                       </h4>
										<!-- Register Form -->
									
										<!-- /Register Form -->

									</div>

                                </div>  
							
						
							<!-- /Account Content -->

						</div>
					</div>

				</div>

			</div>
			<!-- /Page Content -->

{% endblock %}
